[2022-01-31 09:40] goldbergyoni opened #1 "Add .editorconfig to sync across editors"
Add a standard .editorconfig so all the popular IDEs will share standards. Whatever can be defined in .prettier should stay there, it meant to sync values that are not handled by prettier

[2022-01-31 11:00] goldbergyoni opened #2 "Create a PG migration"
Based on the chosen tooling, define all tables and schema via a migration file

[2022-01-31 11:04] goldbergyoni opened #3 "Decision: What technology should power our documentation site?"
We need a documentation site, which technology should be used (e.g., Docusaurus)?

[2022-02-22 15:53] goldbergyoni opened #4 "Create a basic Docusaurus doc website (based on GitHub)"
Based on the chosen technology, create a skeleton app with the default features including:

- Our logo
- Title
- Sensible first TOC
- Domain
- Sync with GitHub
- Others?

[2022-02-22 16:09] goldbergyoni opened #5 "Copy the testing code from nodejs-testing repo to here"
We have modern integration testing patterns implemented at the repo:

https://github.com/testjavascript/nodejs-integration-tests-best-practices

Copy the basics thoughtfully heer

[2022-02-22 16:13] goldbergyoni opened #6 "Compare various config libraries"
Compare the 3 most popular libraries that tick all the best practices boxes:

- Hierarchic config
- Fail fast
- 3 most popular
- Type validation
- Document themselves
- Cascading value obtain (env var, file, static)

[2022-02-23 09:23] goldbergyoni opened #7 "Create a Postgres DB/Tables/Migration for new orders"
Based on the [testing practices repo](https://github.com/testjavascript/nodejs-integration-tests-best-practices), put the DAL code with enough fields to demonstrate

Core tasks:

- Create 2-3 tables with joins
- Use at least 1 JSON column
- Create migration
- Create a singleton that holds the connection pool reference

Core decisions:

- ORM or not? which?
- Which migration framework (if not ORM)?

[2022-02-23 09:26] goldbergyoni opened #8 "Configure prettier"
Put a standard prettier setup

[2022-03-03 11:51] goldbergyoni opened #9 "Name for this project?"
Propose here adequate names for this project? Finally we will run a poll through all the stakeholders and choose

Note: The name should reflect the project's philosophy: Robust AND simple.

[2022-03-07 07:46] goldbergyoni commented on #9
- Practica - Represent a standard way of doing way, and implies pragmatism/simplicity

[2022-03-07 13:56] goldbergyoni opened #10 "Decision: What is the right configuration library for a project?"
Please share your thoughts and opinion, remember to mind the [vendor choose principles](https://github.com/bestpractices/best-practice-starter/blob/main/docs/vendor-pick-guidelines.MD).

[The supporting decision table is here](https://github.com/bestpractices/best-practice-starter/blob/main/docs/decisions/configuration-library.MD)

[2022-03-16 12:30] goldbergyoni opened #11 "✨🗓 A selection of interesting things that are happening now✨"
### ✨🗓 A selection of opportunities for contribution and learning✨

📰 Note: You can start quickly by reading the shortened contribution guide, only 2 paragraphs here. Or the comprehensive one

**📗 Have you ever configured and wrapped a logger?** - Our logging library is doing nothing but console.log now 😞. We need to pick our preferred npm logger (remember to include a comparison table) and get it

[2022-03-24 13:02] goldbergyoni opened #12 "📗 Learning: Do the ESM kata"
We need to migrate our repo to ESM (JS modules), this is an opportunity for you to greatly learn about this _fundamental technique_. This should be done in two steps: At first adjust the syntax and remove all 'require' from the code, then actually make tsc transpile to ESM code

**❣️ Why is this important:** The new default soon in Node.js, new syntax, the standard JS mechanism that works in brows

[2022-03-28 13:00] goldbergyoni opened #20 "Support OpenAPI (swagger)"
**🎯 Goal:** - Auto-generate OpenAPI for routes so developers can benefit all the advantages of Swagger

**🤔 Things to consider:**

- Our first version is about express, more challenging
- As long as the developer sticks to the coding convention, she gets everything generated automatically for free
- Get as much typing/details as possible. If doable, not only the routes but also the types (we're do

[2022-03-28 21:48] rluvaton commented on #11
It's seems like the follwing links are broken:

[2022-03-29 13:01] goldbergyoni opened #23 "Create a logger library - No need to understand the entire system"
**🎯 Goal:** - Create a logger library that wraps reputable industry logger and add additional common features

**🤔 Requirements:**

- Choose a reputable industry logger, Pino and Winston seem to be on the top. [Read the vendor choosing guide](https://github.com/practicajs/practica/blob/main/docs/vendor-pick-guidelines.MD)
- Add log levels - Based on the current configuration, write to log only if

[2022-03-29 15:10] goldbergyoni opened #24 "Prevent commits that violates quality standards using git hooks (Husky)"
**🎯** Goal: As a developer, I will not mistakenly send code with linting/testing/CVE issues

**🤔 Requirements:**

- Configure GitHook that runs all quality tools and stops the commit upon failure. [Husky](https://github.com/typicode/husky) is quite popular tool for this mission
- Put in both the generator project (root) and the generated app (code templates)
- Allow by-pass, we always have CI as l

[2022-03-31 09:14] goldbergyoni opened #27 "📗 Hardened docker file - great article to follow and learn from 🗞"
**🎯 Goal:** - Allow building a *hardened* docker image out of this code so it can be deployed to Docker based productions (e.g., Kubernetes)

**🤔 Things to consider:**

- It should be secured (e.g., avoid leaking secrets)
- Support development mode (i.e., debug image locally)
- Reasonably sized
- Receive signals from OS
- **Conform to any other known best practice.** @lirantal published a [great c

[2022-03-31 09:29] goldbergyoni opened #28 "🤖 Configure stale issues bot that closes old issues"
**🎯 Goal:** - When an issue is been idle for too long, then a label is applied. After some additional time it will get closed

[Stale bot](https://github.com/marketplace/stale) seems like a great tool for the mission, are there any other options?

[2022-03-31 09:36] goldbergyoni opened #29 "Don't let new commits decrease the coverage"
**🎯 Goal:** - 100% coverage or not? Big question, at least we can disallow new commits to **decrease** the existing coverage

**🤔 Things to consider:**

- [codecov](https://docs.codecov.com/docs) seems like a good tool for the mission. Feel free to consider other options
- Should be a standard PR check - This way all the quality checks are centralized in one place
- No absolute numbers rather per-

[2022-03-31 09:38] #9 closed

[2022-03-31 12:08] goldbergyoni opened #30 "Configure a base linter + custom useful plugins"
**🎯 Goal:** - Catch **significant** issues early using the base known linters and other remarkable extension

**🤔 Things to consider:**

- There are a handful of eslint extensions, we want to pick those who are really valuable and not anything
- No cosmetics, we have prettier ones for this. Focus on production bugs (e.g., a promise never resolves)
- Remember that they are needed twice: Root and in

[2022-03-31 22:15] rluvaton opened #32 "turn on clearMocks in jest conf"
I think we should turn on `clearMocks` config in jest as otherwise, you can forget to clean mocks and it will affect your next tests

WDYT?

[2022-04-01 06:55] goldbergyoni opened #35 "Enhance the non-interactive CLI generator"
**🎯 Goal:** - This is about when the user chooses to generate code with CLI flags, not the CLI UI that we have. Though there is some initial POC, the non-interactive CLI is barely functional and we wish to complete a whole flow where the user gets a decent CLI experience and code is generated

**✅ Requirements**
- Get basic flags from the user like --overrideIfExists
- If the destination folder is

[2022-04-01 07:09] goldbergyoni opened #36 "Generate the code with a templating library"
**🎯 Goal:** - Currently we generate code by just copying the code-templates folder. We need to run the code files through a templating library so it can be modified based on the user requests. In the future, this will rich logic (e.g., change web framework, avoid requiring files), for now we wish to start with a small step

**✅Requirements:**

- Add new CLI flag that we accept: --emit-best-practic

[2022-04-01 07:38] goldbergyoni commented on #32
I suggest that we should not use Jest mocks at all.

Why? There are many discussions around whether Jest is a legit test runner. The arguments criticize its non-standard way of doing things and 'magical' approach. Among all the things, its mocking part is the worst - Too many complicated things are happening there. Due to this complexity, it is also not supporting ESM yet.

Consequently, I suggest

[2022-04-01 07:59] rluvaton commented on #32
So you have some reference to those arguments?

If we decide to go with that approach with should add some eslint rules which will warn when using jest mocks

[2022-04-01 08:11] goldbergyoni opened #37 "Write health library that tells when the server is in panic"
**🎯 Goal:** - Write a library that is being initialized by the app which will expose endpoint telling whether the app is read or not. This is needed for the runtime to determine whether to kill this instance. Also useful for "ops" visits to diagnose issues

**✅ Requirements:**

- Should be implemented as library in ./src/code-templates/libraries
- Should expose an endpoint that returns 200 if all

[2022-04-03 08:15] itainoam commented on #8
On it! 🍾

[2022-04-03 08:48] dormesica commented on #36
I'd like to give it a shot

[2022-04-03 09:31] ToMer-K opened #41 "[root project] Enforce commit message standards"
When committing with standards we can later on auto generate versions and change log.

*If it will be convenient for this project we can add it to the templates as well

[2022-04-03 10:10] henarbel commented on #2
I'll take it

[2022-04-03 10:20] henarbel commented on #23
I'll take it

[2022-04-03 10:26] goldbergyoni commented on #8
Closes as of #39

[2022-04-03 11:58] dormesica commented on #36
Naming the flag `--emit-best-practices` implied that by default those comment are **not** removed.
Currently, I see that the default behavior is to remove them ([here](https://github.com/practicajs/practica/blob/d36687080135aab1d9aea7bd336c67377fa70914/src/code-generator/generation-logic/generation-options.ts#L19)).

What is the default behavior we expect? If we expect the comments to remain by de

[2022-04-03 12:46] itainoam commented on #30
On it!

[2022-04-03 12:46] perilevy commented on #28
Hey @goldbergyoni, need permissions for configuring bots

[2022-04-03 12:58] perilevy commented on #29
Hey @goldbergyoni, I requested an approval to add codecov to our repo.
BTW this app is free for open source projects, but requires a subscription for PRO/Enterprise plan.

[2022-04-03 14:05] goldbergyoni commented on #29
@perilevy Approved but as a collaborator you should also have all the permissions to install apps. Don't want to slow down anybody.

[2022-04-03 14:07] goldbergyoni commented on #29
@perilevy Added you to the collaborators list

[2022-04-03 14:07] goldbergyoni commented on #28
See #29

[2022-04-03 14:08] goldbergyoni commented on #36
I would trust your judgement now given that we always change the defaults very easily

[2022-04-03 14:09] goldbergyoni commented on #2
This was already done and mistakeley left open

[2022-04-03 14:09] #2 closed

[2022-04-04 06:21] #8 closed

[2022-04-04 08:54] goldbergyoni opened #46 "Display eslint/prettier errors visually inside GitHub PR files"
**🎯 Goal:** - When a build fails due to linting error, as a developer I can see visually where exactly the error is in the code

![image](https://user-images.githubusercontent.com/8571500/161509220-12e64a38-471c-4fab-84b7-d0607750bd4d.png)

[More details here](https://dev.to/jnybgr/how-to-visualize-eslint-errors-on-github-3f8p)

@itai-autodesk Maybe this one will appeal to Itai?

[2022-04-04 09:48] goldbergyoni opened #47 "🤖 Configure a tool that detects leaked secrets"
**🎯 Goal:** - If intentionally a developer who is using our starter leaks a secret into the code, the CI/git-hook should catch this early and fail.

**🤔 Things to consider:**

- It's useful to also allow local detection of leaked secrets (e.g., exposed npm script)
- There are a handful of tools for this, for example [this wrapper](https://github.com/lirantal/detect-secrets) by @lirantal. As always

[2022-04-06 20:03] mustamusta commented on #1
I'd like to do this!

[2022-04-07 07:46] #4 closed

[2022-04-10 19:20] #3 closed

[2022-04-10 19:20] #5 closed

[2022-04-10 19:20] #6 closed

[2022-04-11 05:54] goldbergyoni opened #54 "🤖 Make the CI run against multiple versions of Node (Matrix)"
**🎯 Goal:** - Currently our CI runs against a specific Node.js version (e.g., the one within .nvmrc), since we should support also other Node.js versions like 12 & 14, it stands to reason to run the CI with all the supported versions of Node. GitHub actions support this out of the box

**🤔 More details:**

- Github actions support this with the [matrix feature](https://docs.github.com/en/github-ae

[2022-04-11 06:12] goldbergyoni opened #55 "🔖 See GitHub test reports with files visual (annotations)"
**🎯 Goal:** - When a test or two fail, it can handy to see right within the checks tab which test failed and what is the error. Otherwise, one would need to navigate away to test report or skim deep in the CI log

![image](https://user-images.githubusercontent.com/8571500/162675188-04ba0802-4021-48c7-ac58-9dc567a41baf.png)

**⚙️ More details:**

- The GitHub action [jest-annotations-coverage](http

[2022-04-11 08:39] alonkishoni commented on #54
took the issue

[2022-04-11 08:39] RonDaha commented on #28
Started to implement Stale bot

[2022-04-11 08:59] #28 closed

[2022-04-11 09:34] kalitas opened #61 "Add a CLI step which asks if should init the app with a git repo"

[2022-04-17 14:09] RonDaha commented on #37
Hey @goldbergyoni I will take this task :)

[2022-04-17 16:18] goldbergyoni commented on #37
Very cool. Let's plan briefly? This task deserve some more clarification

On Sun, Apr 17, 2022, 5:09 PM Ron Dahan ***@***.***> wrote:

[2022-04-24 07:58] goldbergyoni opened #67 "What is the right OpenAPI tooling and approach with express?"
Since both Fastify and Nest have a built-in and recommended approach, this discussion is focused on what are the right approach and tooling to implement OpenAPI with Express?

The corresponding decision table is here:

https://github.com/practicajs/practica/blob/main/docusaurus/docs/decisions/openapi.md

[2022-04-24 08:20] goldbergyoni opened #68 "Documentation decision tables format"
@relsteiner The origin decision table was created intentionally with pure HTML to gain full control on its visibility. I noted that it was changed to markdown which is more limiting. See the differences between:

[Markdown](https://github.com/practicajs/practica/blob/main/docusaurus/docs/decisions/configurationLibrary.md)

[HTML](https://github.com/practicajs/practica/blob/main/docusaurus/docs/dec

[2022-04-24 08:56] goldbergyoni commented on #30
@itainoam Great progress here, shall we finalize this on the next growth day?

[2022-04-24 08:57] goldbergyoni commented on #32
@rluvaton  Jest itself stated in its ESM support doc that mocks are not supported. By design, it switches files location which IMO is not a straightforward engineering technique. Why don't use other test doubles library?

[2022-04-24 09:00] goldbergyoni commented on #61
@kalitas Cool. Definitiely something on the short-term roadmap. For now, can we just install Husky for the generator (root) and for the generated project just include an installation script?

[2022-04-25 05:24] rluvaton commented on #32
I understand, thank you!

[2022-04-25 05:24] #32 closed

[2022-04-25 06:58] goldbergyoni opened #69 "Create CI (GitHub actions) for the generated code"
**🎯 Goal:** - Currently we have a CI only for the root project, the root, we obviously need to include one with the generated code. For a start using GitHub actions, in the future we might add more vendors. This CI should include few typical steps like testing, linting and vulnerabilities checker

**🤔 Things to consider:**

**- The basics -** Add a simple GitHub action workflow as described [in th

[2022-04-25 07:13] goldbergyoni opened #70 "Make a library 'publishable'"
**🎯 Goal:** - The code we generate contains multiple libraries, let's show how one can get published to npm so the main Microservice can install and use it. The rest will follow.

**🤔 Things to consider:**

- Before publishing the code should transpile (build), version bump should happen (we can automate this later) and then publish to npm. Consider chaining all of these commands under one 'npm sc

[2022-04-27 05:57] goldbergyoni opened #73 "Docusaurus images are not being referenced in the right way"
When looking at Docusaurus content with images, like the decisions table, the images are missing

This guide explains why:

https://docusaurus.io/docs/static-assets

[2022-04-27 07:15] goldbergyoni opened #74 "Can't render image"
Our interactive wizard is based on cli [React framework ink](https://github.com/vadimdemedes/ink). We badly need to show our logo within the cli UI but since ink3, the [image component was broken](https://github.com/kevva/ink-image)

It could be awesome if we find out why and fix it

@rluvaton Not sure if you have time now, this is a task for 007. Not urgent, we can process also next month

[2022-04-29 06:58] goldbergyoni opened #76 "Write a superb error handling module"
**🎯 Goal:** - Handle errors in the application in a robust way so the users highly respect the error handling approach

**✅Requirements:**

- Research the web for good error handling practices: How Nest doing it, Fastify, the major blog posts. Cherry-pick highly valuable technique and ideas. We will summarize our findings in a blog post
- Ensure any kind of thrower is covered: Web-request, startup

[2022-05-01 07:14] goldbergyoni opened #80 "Which is the right Monorepo tool?"
Triggering a discussion about Monorepo tools

[2022-05-01 07:16] goldbergyoni commented on #80
Corresponding [decision table here](https://github.com/practicajs/practica/blob/main/docusaurus/docs/decisions/monorepo.md)

[2022-05-03 08:24] goldbergyoni opened #81 "🤖 Request more info bot"
**🎯 Goal:** - [Having a bot](https://github.com/apps/request-info) working for us when someone is opening a PR without sufficient details, the bot will ask for more info and prevent wasting the maintainer's time

**🤔 Things to consider:**

- If you need permissions for the installation phase, just ask and it will happen quickly
- Phrase a kind message to the opener who was just mistaken
- Test it!

[2022-05-03 08:32] goldbergyoni opened #82 "🤖 Delete merged branch bot"
**🎯 Goal:** - When a branch was merged, why keep it alive and mess our branches list... Why spend human being time on such a task, let the bot work for us! [This bot can take care](https://probot.github.io/apps/delete-merged-branch/) for this automatically, let's invite her to the party

**🤔 Things to consider:**

- If you need permissions for the installation phase, just ask and it will happen qu

[2022-05-03 08:46] goldbergyoni opened #83 "Show CLI spinner while we generate the code"
**🎯 Goal:** - When the non-interactive CLI command is invoked, we should show some friendly spinner and message until the code is generated. When it's ready, it could be nice to show some nice message like "All set, the code is ready for you with tons of good practices inside"

Here is how our UI looks like (no emoji, no text):
![image](https://user-images.githubusercontent.com/8571500/166426033-a

[2022-05-03 09:09] #54 closed

[2022-05-03 09:12] goldbergyoni opened #84 "🤖 Make the CI run against multiple versions of Node (Matrix)"
**🎯 Goal:** - Currently our CI runs against a specific Node.js version (e.g., the one within .nvmrc), since we should support also other Node.js versions like 12 & 14, it stands to reason to run the CI with all the supported versions of Node. GitHub actions support this out of the box

![image](https://user-images.githubusercontent.com/8571500/166459555-aea4d8fe-37b6-46e2-a059-2b22024b6ab3.png)

*

[2022-05-03 09:23] goldbergyoni opened #85 "Enrich the test reporters with 2 cool and useful tools"
**🎯 Goal:** - Boost the developer testing experience with reporters that show useful info: The slowest tests and those that were skipped. This might lead to an action by the viewer

**🤔 More details:**

- [Jest slow test reporter](https://github.com/jodonnell/jest-slow-test-reporter)
- [Jest skipped test reporter](https://github.com/rickhanlonii/jest-skipped-reporter)
- Remember to test it, trigge

[2022-05-03 09:26] goldbergyoni opened #86 "Autocomplete tests name in watch mode"
**🎯 Goal:** - Slightly improve the testing experience by introducing 2 useful watch plugins that are presented to the developer while running testing in watch mode (cli)

**🤔 More details:**

- Typeahead plugin will allow searching and filtering for a specific test
https://github.com/jest-community/jest-watch-typeahead

- Suspend plugin will allow pausing the 'test noise' when a developer know tha

[2022-05-03 09:28] #7 closed

[2022-05-03 09:30] #29 closed

[2022-05-03 09:30] goldbergyoni opened #87 "Don't let new commits decrease the coverage"
**🎯 Goal:** - 100% coverage or not? Big question, at least we can disallow new commits to **decrease** the existing coverage

**🤔 Things to consider:**

- [codecov](https://docs.codecov.com/docs) seems like a good tool for the mission. Feel free to consider other options
- Should be a standard PR check - This way all the quality checks are centralized in one place
- No absolute numbers rather per-

[2022-05-03 10:15] goldbergyoni opened #88 "Configure a vulnerabilities checker"
**🎯 Goal:** - Detect when some code has vulnerabilities or when a developer is fetching a suspicious package

**🤔 More info:**

- Tools like sync alike can provide E2E CVE shield free for OSS projects
- Run as part of CI
- Beyond just realizing CVE (vulnerabilities), they have advanced capabilities of warning/PR when dependencies are outdates

[2022-05-03 13:21] goldbergyoni opened #89 "Run spell-checker against our README"
**🎯 Goal:** - Remove embarrassing grammar/typos mistakes from our docs 🤭

**🤔 How:**

- Open the readme
- Install some Chrome spell checker extension
- Fix some issues. No need to fix everything
- PR 💚

[2022-05-03 16:09] goldbergyoni opened #90 "🔐 JWT validator library"
**🎯 Goal:** - Protect routes by verifying the JWT token and stopping requests if the token is invalid. Later we will add JWKS later and authorization...

**🤔 Things to consider:**

- Should be its own library with its own tests
- Should be a middleware so every router/route pick it or not
- Create also a public non-protected route to demonstrate how to bypass the test
- Follow as much best practic

[2022-05-08 09:02] AvivMoyalAutodesk commented on #83
took the issue

[2022-05-08 12:58] #73 closed

[2022-05-12 06:55] goldbergyoni opened #114 "Enhance the libraries quality"
We have a bunch of libraries like logger, auth, and more. There is a handful of improvements we can apply there. One can start with exemplify one or more technique in a single library.

The list:

- Make 'em share Jest and TS config (how? this should be discussed)
- Make 'em have the same set of package.json scripts (e.g., test, build, dev, etc)
- Use a publishing tool like [np](https://github.com

[2022-05-15 06:21] goldbergyoni commented on #114
@rluvaton @DanielGluskin Kindly have a look here, I'd like to brainstorm with both of you about this soon 🙏

[2022-05-15 06:28] goldbergyoni opened #115 "Interactive mode CLI select list does not allow setting color"
**🎯 Goal:** - The CLI interactive mode has multiple select lists (e.g. choose framework), when hovering an item the color is always blue which is not part of our coloring schema. Ideally, it should be white. The vendor lib, ink-select-input, does not allow passing a prop with the color. We should submit a PR ourselves to make 'em support this

**🤔 Things to consider:**

- Consider opening an issue

[2022-05-16 06:40] #84 closed

[2022-05-18 16:08] idobetesh commented on #82
@goldbergyoni Do we have to use these bots? seems like GitHub has this [feature](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-the-automatic-deletion-of-branches) built-in

[2022-05-23 13:43] goldbergyoni commented on #82
Oh yeah, @idobetesh 100% right. Closing

p.s. Are you up for some interesting task?

[2022-05-23 13:43] #82 closed

[2022-05-23 19:25] idobetesh commented on #81
Hi @goldbergyoni , please approve my request to add the request-info bot

[2022-05-24 05:31] #81 closed

[2022-05-28 21:02] rluvaton commented on #114
for jest, we could have one common config file and each file require and export it (this will enable to edit config based on the specific library)

for typescript, in case it doesn't search in the parent folder and the parent of the parent folder (how does it called again?) we could use the [`extends`](https://www.typescriptlang.org/tsconfig#extends) option in the tsconfig file

Great idea!

I've

[2022-06-12 07:38] ToMer-K commented on #85
@goldbergyoni
These reporters don't have coloring so they seem a bit pale:
![image](https://user-images.githubusercontent.com/18401157/173222343-d6dec00a-674a-4a64-aaf2-5d257ab331e0.png)

When there is a slow test it will have red coloring:
![image](https://user-images.githubusercontent.com/18401157/173222535-bf193253-dc95-4ef9-9420-8d2888f816f4.png)

Are we sure we want to add them?

[2022-06-12 13:22] ToMer-K commented on #85
After deciding not to use the 2 suggested reporters and use ___ it looks like this now:
(red for 1 second and above and yellow for 0.5 a minute plus)
![image](https://user-images.githubusercontent.com/18401157/173235265-26ece315-a279-48d5-9bbf-0b337c6dbebf.png)

[2022-06-12 16:13] joebowbeer commented on #80
Corrections to table:
* lerna is maintained; Nrwl, the company behind Nx, [took over stewardship of Lerna](https://blog.nrwl.io/lerna-is-dead-long-live-lerna-61259f97dbd9)
* nx and lerna are [orthogonal and compatible](https://blog.nrwl.io/lerna-yarn-nx-faster-build-times-better-dev-ergonomics-2ec28463d3a5)

[2022-06-13 09:00] goldbergyoni commented on #80
Hey @joebowbeer, welcome aboard 🌻

Yes, we should emphasize more that a valid monorepo strategy is a workspace + build-tool (e.g. Nx)

About Lerna - I will update, thanks. Personally, I think that Nx will swallow it but it's not fair to write that it's not maintained

[2022-06-13 09:01] goldbergyoni commented on #85
I love it @ToMer-K

[2022-06-13 09:14] goldbergyoni commented on #114
Jest has a dedicated mechanism for this - Preset

I'm pretty sure np can be automated, although not sure if user interaction is not the better way to publish. Do you run it locally or from CI?

Weirdly enough, the post was removed from the web. Here is an archived version:

[I've not used this but it looks like it's requiring user interaction, and instead, we should use an automated one.](https://

[2022-06-13 19:03] rluvaton commented on #114
From CI, yeah I see `np` can be automated

[2022-06-24 08:01] #90 closed

[2022-06-24 08:01] #87 closed

[2022-06-24 08:01] #70 closed

[2022-06-25 16:47] clarkio commented on #88
Would something like [Snyk Open Source](https://snyk.io/product/open-source-security-management/) be what you're thinking of for this item?

[2022-06-25 22:16] rluvaton opened #144 "Add support for images in dark mode"
Images not displayed properly when dark mode is used, fortunately GitHub added support for light/dark based images.

It's available by using the `prefers-color-scheme` in the picture element.

More info [here](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#specifying-the-theme-an-image-is-shown-to)

[2022-06-25 22:26] rluvaton opened #145 "Discord invitation link in the README is invalid"
<img width="557" alt="image" src="https://user-images.githubusercontent.com/16746759/175792217-e7b9c7ba-b07c-462b-9c89-4e017cc7837c.png">

[2022-06-25 22:36] rluvaton commented on #144
It looks like the attached image is a mermaid graph (I didn't know GitHub supported it, cool!) so

[2022-06-25 22:49] rluvaton opened #147 "[Docs] in the configuration library page previous button displays README instead of the actual page name"
In the [configuration library](https://practica.dev/decisions/configuration-library) page the previous page shows README instead of Decision making documentation

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/16746759/175792613-e10c9d0f-a7ea-442f-9baf-120c99f4ca9e.png">

[2022-06-25 23:02] rluvaton commented on #115
For some reason when I'm hovering the items I don't get any color 🤔

[2022-06-25 23:06] rluvaton opened #148 "The cherry pick features are not removed after selection"
https://user-images.githubusercontent.com/16746759/175793020-42feb61e-fe9d-4398-abe8-3b0650a4ac02.mov

[2022-06-30 14:45] goldbergyoni opened #149 "Making the code generator based regex/comments"
**Context -** We tried a code generator that is based on templating engine, but then the repo code is not executable (due to the mustache characters) and it becomes much harder to modify code, _test it_ and sync with the repo

**What type of functionality should the generator hold -**

1. Remove sections from files like "best practice" comments
2. Avoid including specific file/folder like when use

[2022-07-03 15:21] goldbergyoni opened #150 "Should we merge the folder /root/static/images with /docs/static?"
Title speak for itself

[2022-07-03 17:57] mikicho commented on #149
Why not use tools like `yeoman` or `plopjs`?

[2022-07-03 17:59] mikicho commented on #80
I had a good experience with Turborepo.

[2022-07-03 18:08] mikicho commented on #88
Created an organization in Snyk and added this repo:
https://app.snyk.io/org/practica.js/projects

[2022-07-04 08:55] goldbergyoni opened #152 "Add unique request-id (correlation-id) to every request and log statement"
**🎯 Goal:** - The ops/dev should be able to filter out logs and see all the entries of the same request. To achieve this, a unique correlation-id should be added to every request's log statement

**🤔 Things to consider:**

- The implementation should minimally impact the majority of the code: Probably just an initialization when a request starts, then the logger should try to identify whether some

[2022-07-05 12:03] goldbergyoni opened #153 "Add Redis functionality and library"
**🎯 Goal:** - Add Redis to our flow and show how to use it properly. When querying for orders, we may cache an item in Redis for 1 minute. If it's already in the cache - we can serve it from there. If not, we try the DB and add to the cache (if found).

The deliverable constitutes (A) our own library that wraps a reputable redis client (B) Redis within our docker-compose (C) The change to the flow

[2022-07-05 12:27] goldbergyoni opened #154 "Share configuration among our libraries"
**🎯 Goal:** - Currently we have 5 libraries and likely to have more. Each lib now has its own eslint + jest config - It could increase the maintainability to have 'inherit' default configuration but also allow overrides

**🤔 Things to consider:**

- is there a strong standard for this?
- Jest has the notion of [preset](https://jestjs.io/docs/configuration#preset-string) - This encourages to create

[2022-07-05 12:29] goldbergyoni commented on #154
@rluvaton @DanielGluskin @elektronik2k5 Is there a strong standard here?

[2022-07-05 13:32] goldbergyoni opened #155 "Images are missins when not viewed through Docusaurus"
See here:

https://github.com/practicajs/practica/blob/main/docs/docs/decisions/configuration-library.md

We should find a path that works for both Docusaurus & GitHub view

[2022-07-05 13:36] goldbergyoni opened #156 "Compare Node.js authorization frameworks"
**🎯 Goal:** - Soon we wish to implement an authorization feature. Before, we must make a thoughtful and documented decision: Which lib to use? Following our comparison template, we should identify the top 2-4 libraries/frameworks, compare them, let the community comment out and push toward a final decision

This is a great opportunity to learn about various authorization frameworks and features

*

[2022-07-05 14:01] goldbergyoni commented on #148
This is because you don't come to the hackathon:)

Good catch

[2022-07-05 14:03] goldbergyoni commented on #145
How about now?

[2022-07-05 14:06] goldbergyoni commented on #85
@ToMer-K Close?

[2022-07-05 14:07] goldbergyoni commented on #83
@AvivMoyalAutodesk Still on it?

[2022-07-05 14:13] goldbergyoni commented on #76
@RonDaha As for the next course of optimizations, do whatever feels right, I would consider these:

- Custom properties - Some unknown errors carry custom properties (e.g., Axios error has status), we don't want to miss this. When it's defined as 'cause', is it logged? When it's not Error and we normalize it, are we losing those? Let's write a test...

- Is the Microserice already using the new er

[2022-07-05 14:13] #67 closed

[2022-07-05 14:14] goldbergyoni commented on #47
@clarkio @lirantal Toward our hackathon tomorrow, what might be a good tool?

[2022-07-05 15:12] goldbergyoni opened #157 "Showcase how to test integrations"
**🎯 Goal:** - Our example code is making a REST call outside to a 3rd party. This meant to show a typical case where our code has integrations. Integrations are a potential risk for bugs - what if our code mistakenly is not making a call? What if the payload is wrong? What if upon failure no log is triggered? All of these should be tested in our component tests!💪

**🤔 Things to consider:**

- We h

[2022-07-05 16:16] rluvaton commented on #145
Fixed, thanks

[2022-07-05 18:49] goldbergyoni opened #158 "Try practica like real-user and report about your experience"
**🎯 Goal:** - What can be improved in Practica in terms of developer experience? Develop some simple backend up (e.g, to-do application), generate skeleton code with practica and try to code your app. Note down issues and insights

[2022-07-06 07:51] elektronik2k5 commented on #154
Not one which I'm aware of. It is very fragmented:
- Some tools support declarative configuration inheritance (like eslint and TS).
- Others don't support it out of the box, but as long as they can be configured via JS, it can be done. Jest and webpack are examples of that.
- Some tools just don't have this feature at all (editorconfig).

[2022-07-06 09:24] goldbergyoni opened #160 "🎉 Add Fastify as additional web layer"
**🎯 Goal:** - Allowing the user the choice between various technologies is at the heart of Practica. Fastify is a super-popular and great framework (a candidate to serve as our recommended web layer). We should add it as an alternative web layer to express, it will be located in a sibling folder and the code generator while stitching the solution will copy OR express OR Fastify as the web layer. T

[2022-07-06 10:40] yohai-zv commented on #157
I'll start working on it

[2022-07-06 11:08] asafsalo commented on #86
on it :)

[2022-07-06 11:19] kalitas commented on #160
on it

[2022-07-06 15:28] asafsalo commented on #86
Just merged, PR #165
Can use with commands `nvm use` and then `yarn jest --watch`

[2022-07-06 16:40] evbambly commented on #89
Taken, in [this](https://github.com/practicajs/practica/pull/168) PR.

[2022-07-19 08:45] #89 closed

[2022-07-21 14:53] goldbergyoni commented on #160
@DavidBK and @kalitas Happy that you're handling this strategic and not-so-easy workstream

I would guess that the status is @DavidBK working on the Fastify thing and @kalitas on the code generator, right?

Leme know whether you need anything from my part to push it?

[2022-07-21 14:58] kalitas commented on #160
@goldbergyoni yes. @DavidBK if you can create a PR from your fork to here, it would be great, then we can continue working on it and finish it together

[2022-07-25 09:17] goldbergyoni opened #189 "Error handler improvements"
Our handler looks awesome, with that we might have another iteration to perfect it?

What can be improved:

- See attached coverage report, some important paths are uncovered
- We lose additional error properties of custom errors: Consider AxiosError.status or MongooseError.someProperty, our handler won't copy these important unknown properties

A. For the case of Error object -> The normalizer ca

[2022-07-26 06:30] RonDaha commented on #189
@goldbergyoni Thank you, will get into that soon :)

[2022-07-27 06:51] goldbergyoni opened #191 "Generate example app inside our repo on every change"
**Need -** It could be great to show an example app immediately in our repo without the need to use the CLI. For this, in every CI run, we can invoke our CLI, generate app to a local folder [root]/example-app/express-pg, then commit back to the repo

[2022-07-27 06:54] goldbergyoni opened #192 "Get rid of eslint warnings"
**Concern -** The app currently shows many lint warning which is not a great practice

**Remedy -** For each warning, we should make a call: Fix the code OR shut-off this lint item

[2022-08-09 14:37] #23 closed

[2022-08-12 15:30] rluvaton opened #200 "Don't generate `practica-jwt-token-verifier-0.0.1-alpha.5.tgz`"
when running `create-node-app` it generate `practica-jwt-token-verifier-0.0.1-alpha.5.tgz`  inside `libraries/jwt-token-verifier/`

[2022-08-13 19:14] #192 closed

[2022-08-13 19:43] rluvaton opened #202 "Adding open telemetry support"
Telemetry data improve customer experiences and monitors security, application health, quality, and performance.

[2022-08-14 01:18] rluvaton commented on #191
I think that instead of commuting back to the repo, we will push to different repositories that also can be used as GitHub templates

[2022-08-15 18:14] d1onys1us commented on #80
two issues/points of confusion i have: 1) https://github.com/nrwl/nx-recipes/tree/main/pnpm-workspace this example shows that NX can be used with multiple package.json, so i don't think it's fair to argue that it can only have a root package.json (which would increase tight coupling) and 2) how is that NX is locally linking by using typescript and webpack? if you are using pnpm, for example, it is

[2022-08-18 11:21] goldbergyoni commented on #191
For longer term, you're right

For short term, we need the stars... If /practica/express-example become popular - we need all the stars in one repo

[2022-08-22 18:56] ThomasG77 opened #209 "Unable to run the quickstart as it failed at first run"
What I do?

[code]

It returns the following

[code]

Then,  I do

[code]

It crashs at it inherits from the issues from the first run

[code]

PS: I'm a TypeScript noob so maybe obvious.

Update: version of Node = v16.13.0 using nvm on a Ubuntu 18.04 64 bits

[2022-08-26 03:40] trasherdk commented on #191
I would :star: both `example-app/express-pg` and `example-app/express-mysql` as separate repositories, even though I don't do `PG` :smiley:

[2022-08-27 18:11] milesj opened #211 "Add moon to comparison doc"
Doc: https://github.com/practicajs/practica/blob/main/docs/docs/decisions/monorepo.md

Moon, a build system written in Rust, was released a few months ago. Would be great to add it to the doc above.

There's also a feature comparison doc already that would be great starting point: https://moonrepo.dev/docs/comparison

[2022-08-27 22:07] rluvaton commented on #209
Hey, thanks for opening this issue, what is your node version?

[2022-08-27 22:36] rluvaton opened #212 "Don't publish test files + test-reports in the npm package"
We publish for some reason the `test-reports` files as well:

[code]

[2022-08-28 14:27] surajsharma opened #213 "CLI interactive mode crashing on OSX 12.5.1"
CLI Command: `npx @practica/create-node-app interactive`

Node versions:  `16.17.0`, `17.6.0`, `18.8.0`

Error message is always some variation of the following :

[code]

[2022-08-28 14:29] #213 closed

[2022-08-28 15:07] surajsharma opened #214 "Unable to run quickstart"
I followed all the steps but on `npm start` i got this error:

[code]

OS: OSX 12.5.1
NODE: 16.15.0

[2022-08-30 09:53] goldbergyoni commented on #214
@surajsharma On it! Let's make it work for you, I think that I found the issue. Will release a fix shortly, hopefully in 24 hours

Few q:

1. How did you install the project? Using our CLI with UI or without UI?
2. Which guide did you follow ("quick start" or "coding with practica")?

[2022-08-30 09:59] goldbergyoni commented on #211
@milesj Looks like a very promising offering, happen to have some YouTube or quick summary that outlines the project unique value?

I'd love to collaborate and evaluate future partnership

For now, we can add to the table only top 5 downloaded vendors:
https://github.com/practicajs/practica/blob/main/docs/docs/contribution/vendor-pick-guidelines.md

[2022-08-30 10:00] surajsharma commented on #214
@goldbergyoni Thanks!
1. I used the CLI with UI (`npx @practica/create-node-app interactive`)
2. I used "coding with practica" guide

[2022-08-30 10:03] goldbergyoni commented on #191
@trasherdk Makes sense, we can reuse the ORMs capability of supporting two popular DBs...

Let's do it!

[2022-08-30 10:05] goldbergyoni commented on #80
@d1onys1us Welcome aboard. Appreciate your feedback!

About the 1st point - Nx encourages this coupling, it doesn't enforce it. If you use the default Node plugin, this is the setup that one gets

About 2nd point - You're right. We should update the wording. Care to do this or shall I?

[2022-08-30 15:54] mikicho commented on #209
@ThomasG77 Thanks for open this issue :)
What's your typescript version? (`npx tsc --version` from the `order-service` folder)

[2022-08-30 16:09] ThomasG77 commented on #209
npx tsc --version
Version 4.6.4

[2022-08-30 16:12] rluvaton commented on #209
could you please add here the `package-lock.json` file, I'm thinking it may be related to some package version

[2022-08-30 16:24] ThomasG77 commented on #209
See https://gist.github.com/ThomasG77/dfebda550a6847a46725afb2cfdb1253

I suppose it's the `package-lock.json` from services/order-service you wanted

[2022-08-30 16:28] mikicho commented on #209
Interesting, it should be `Version 4.7.4`
Can you try again with this command? `npx @practica/create-node-app@0.0.4 immediate --install-dependencies`

[2022-08-30 16:44] ThomasG77 commented on #209
Same result...

[2022-08-30 16:44] rluvaton commented on #209
which node and npm version are you running?

[2022-08-30 16:58] rluvaton commented on #209
I think this is happening because you probably have configuration provider with earlier version

What is the content of `libraries/configuration-provider/configuration-provider.ts`?

[2022-08-30 18:02] ThomasG77 commented on #209
Answered before for node: Node = v16.13.0 using nvm on a Ubuntu 18.04 64 bits
For npm, version 8.1.0

Content of `libraries/configuration-provider/configuration-provider.ts`

[code]

[2022-08-31 12:12] #209 closed

[2022-08-31 12:19] goldbergyoni commented on #214
@surajsharma I have a hypothesis why this happened and released a fix: v0.0.5

I can't be 100% sure that this issue is solved but the chances are quite good

Could you please try again?

Your feedback is important, highly appreciate if you can try again and let me know

While installing, please ensure that you're not pulling from the cache. You should not v0.0.5 in your package.json. If not, clean

[2022-08-31 12:21] goldbergyoni commented on #209
@ThomasG77 Thanks for your kind explanations and for working with us on this issue:). This might prevent similar behaviour to many others.

I have a hypothesis why this happened and released a fix: v0.0.5

I can't be 100% sure that this issue is solved but the chances are quite good

Could you please try again over a fresh folder?

Your feedback is important, highly appreciate if you can try again

[2022-08-31 12:47] surajsharma commented on #214
@goldbergyoni so despite clearing the cache i'm still getting `0.0.2` in my `package.json` when i run `npx @practica`..

[2022-08-31 13:37] ThomasG77 commented on #209
Tried

[code]

Same error. Due to your mention about version, I've tried to be explicit with `npx @practica/create-node-app@0.0.5 immediate --install-dependencies` and I have no error anymore. Resulting generated code mention version `"0.0.3"` in both `default-app-name/services/` and `default-app-name/services/order-service/package.json` whereas in failing case, the version was `0.0.2`.

[2022-08-31 14:02] goldbergyoni commented on #209
So just to make sure we're on the same page - All is good now, correct?

As you're one of our first users, we'll be glad to follow your Practica adoption and provide quick help. If you wish we can also plan your desired app together using Practice principles.

[2022-08-31 14:38] goldbergyoni commented on #214
@surajsharma Can we please try:

1. Cleaning the npx cache explicitly:

``` rm -rf $(npm get cache)/_npx/*```

Works now?

2. Install explicitly the newer version:

```npx @practica/create-node-app@0.0.5 immediate --install-dependencies```

[2022-08-31 15:57] ThomasG77 commented on #209
Yes, except default instructions at https://github.com/practicajs/practica#run-practicajs-from-the-command-line are not working on my machine. Other users may hit the issue.

[2022-08-31 16:33] surajsharma commented on #214
@goldbergyoni can confirm that this works as advertised, issue may be closed thanks!

[2022-08-31 17:23] goldbergyoni commented on #214
Kudos 👌

Which step helped?

[2022-09-01 03:01] surajsharma commented on #214
i think it was `npx @practica/create-node-app@0.0.5 immediate --install-dependencies` that did the trick

[2022-09-01 03:06] surajsharma opened #221 "signing jwt while testing manually"
For those of us who want to test the routes manually using a REST client, what's the best way to go about generating and signing the tokens?

[2022-09-01 07:16] #214 closed

[2022-09-01 07:52] goldbergyoni commented on #221
I've actually inlucded the token within the online POSTMAN docs but just noted that for security reasons it extract out the Authorization header.

I've just included [here an _answer](https://practica.dev/questions) to your question, is it satisfactory?

Note that when invoking manually you might hit another wall - the code is approaching 3rd party service (we want to tackle this complexity and sh

[2022-09-01 08:18] goldbergyoni commented on #202
How would you keep it simple: there must be some online receiver to record the spans (e.g. Jaeger Docker)?

[2022-09-01 08:41] surajsharma commented on #221
@goldbergyoni

so yes while this token works i wanted to be able to generate my own tokens, or at least know my way around, is there any way this could be achieved?

ok let me try this

i am just learning my around the best practices, not building anything.

[2022-09-03 19:01] goldbergyoni commented on #221
@surajsharma The link explains how to generate your own token. If you could feedback what specifically in this text is lacking - we can improve it

[2022-09-08 06:38] marcosmol204 commented on #152
I want to take it.

[2022-09-08 15:26] goldbergyoni commented on #152
@marcosmol204 Welcome aboard!

That could be awesome to have you participating in this important improvement. Note that it's already work in progress, @rluvaton is handling but I definitely see here an opportunity for two to collaborate on this

[2022-09-09 09:38] marcosmol204 commented on #152
@rluvaton I would like to collaborate also. I have an implementation in my head that is not a breaking change, use [AsyncLocalStorage](https://nodejs.org/api/async_context.html)

[2022-09-09 10:42] marcosmol204 commented on #153
@goldbergyoni
Some questions:
If is a library cache.
1)What do you think about [lru-cache](https://www.npmjs.com/package/lru-cache) in memory?
2)The library should export a middleware or a depency to be injected to some service ?

[2022-09-10 20:11] rluvaton opened #225 "Logger tests not working when executing them in WebStorm"
jest default reporter override `process.stdout.write` https://github.com/facebook/jest/blob/37200eb7cb0abac55801d32ed439f2925df3899e/packages/jest-reporters/src/DefaultReporter.ts#L100-L104

Pino checks if the `process.stdout.write` has been tempered, in case it is it uses it, if not it uses the `sonic-boom` which writes to `process.stdout.fd`
https://github.com/pinojs/pino/blob/dc4e8546c0a4bedb08

[2022-09-10 21:01] rluvaton opened #227 "On project generation we need to rename all the package organization name to the selected organization"
Because this is a **generator** and not a **framework** the packages are the users...

[2022-09-11 11:59] goldbergyoni commented on #69
@shanizlo Leme know if you want to hop online someday and chat about it. We can sync in 15min if you wish, or you can just process it on your own time

[2022-09-13 06:57] goldbergyoni commented on #153
@marcosmol204 Handling Redis is a viable option, that said we have other priorities that should be addressed before caching. Shall I present you with a list of interesting contributions?

1. About lru - To my understanding, it's in-process cache which is not as useful and scalable as cross-process cache
2. The lib should expose a service that allows to set/get cache. It should not be coupled to Ex

[2022-09-13 06:57] goldbergyoni commented on #152
@rluvaton Maybe you can share with @marcosmol204 what was done thus far

[2022-09-13 07:59] goldbergyoni opened #229 "Decision: Which base docker image should we use?"
Like any other decision, we wish to have a discussion and always compare the various options here

Which Node.js image our Dockerfile should inherit from? What important dimension should be evaluated?

[2022-09-13 08:42] marcosmol204 commented on #153
@goldbergyoni Yes, you can present me good first issues with higher priorities.

[2022-09-16 09:47] rluvaton commented on #152
Hey @marcosmol204 thanks for joining in

1. I made the logger be able to log objects #228
2. Adding Async Local Storage package #232
3. And then I'll create a `request-id` package that will have the request ID generator and express middleware for using/generating the request id and set it on the response headers

[2022-09-16 16:39] marcosmol204 commented on #152
So I want to take request-id package!

[2022-09-28 08:27] goldbergyoni commented on #153
@marcosmol204 Just got back from a trip, back on track

I would suggest one of these 3 issues:

- https://github.com/practicajs/practica/issues/83
- https://github.com/practicajs/practica/issues/144
- https://github.com/practicajs/practica/issues/158

OR

Replicate our data-access layer using [Prisma](https://www.prisma.io/). We want to evaluate whether Prisma is a good option, hence we should cre

[2022-09-28 08:59] goldbergyoni commented on #152
@rluvaton @marcosmol204

The plan in overall sounds great, I'm having thoughts about whether we should wrap it all in a single package - request-scoped-store

Why - The proposed package request-id is dependent by nature on the library async-local-storage library, they are both highly dependent on each other (to provide decent functionality)- It makes sense to encapsulate this in a single package w

[2022-09-29 11:56] goldbergyoni opened #235 "Decision: Which ORM should we use?"
Like any other decision, we wish to have a discussion and always compare the various options here

Which Node.js ORM should use? What important dimension should be evaluated?

[2022-10-03 09:09] rluvaton commented on #235
Let's take a step back and ask, do we even want an ORM? What about query builder?

Important dimensions IMO are:
1. Performance
2. Security to help protecting from SQL injections
3. Support for multiple DBs (optional not required)
4. Migration support
5. Type support (Maybe)

[2022-10-03 11:26] goldbergyoni opened #237 "Lacking type coercion during validation"
When validating input, it's also the right place to coerce value to their right domain type

For example, when getting req.body.userId - it's string by default, inside our domain it should be a number

Ajv supports this:
https://ajv.js.org/coercion.html

[2022-10-04 09:22] rluvaton commented on #152
Hey @marcosmol204 I had some free time now so I created a PR, I would appreciate if you review it though, also if you want there are some other issues that need your help

[2022-10-08 07:46] marcosmol204 opened #239 "On boarding "e-meets""
@goldbergyoni What do you think about it ?
Some minutes can help developers to join this amazing project!

[2022-10-08 08:15] goldbergyoni commented on #239
What is "e-meets"? Could you elaborate on this idea?

[2022-10-17 14:47] aagamezl commented on #235
I like the ORM option more than a Query Builder and my vote goes to Prisma.

[2022-10-17 14:52] aagamezl commented on #229
@goldbergyoni I think the better approach is to use the current LTS Node.s version, but point to the specific version and not just using the LTS tag in the Dockerfile.  So I think in the build process we should query for the actual LTS Node.js version and produce the Dockerfile according to that. I also prefer the Alpine images.

The reason for my preference is because Docker Image has to be predi

[2022-10-20 17:12] #152 closed

[2022-11-05 09:01] marcosmol204 commented on #239
Once every two weeks or at any time an onboarding meet.

[2022-11-26 09:29] marcosmol204 commented on #83
Opened PR #243